body {
  padding-top: 50px;
}

.jumbotron {
  margin-top: 20px;
  padding: 20px;
}

.jumbotron p.page-instructions {
  color: #666;
  font-size: 16px;
}

#error-modal .modal-title {
  color: #660000;
  font-weight: bold;
}

.import-stat {
    color : #777;
    margin-right: 10px;
}

.start-btn,#fileupload-btn {
    width : 107px;
}

.icon-upload-cloud-outline {
    cursor: pointer;
    font-size: 30px;
    color: #31b0d5;
}

.icon-upload-cloud-outline.disabled {
    cursor: default;
    color: #ccc;
}

#fileupload-message, #fileupload-progress, #fileupload-file {
    margin-top: 10px;    
}

.modal-dialog.fileupload {
    width: 400px; 
}
