body {
  padding-top: 50px;
}

.jumbotron {
  margin-top: 20px;
  padding: 20px;
}

.jumbotron p.page-instructions {
  color: #666;
  font-size: 16px;
}

#error-modal .modal-title {
  color: #660000;
  font-weight: bold;
}

.import-stat {
    color : #777;
    margin-right: 10px;
}

.start-btn {
    width : 107px;
}
