
.icon-upload-cloud-outline:before { content: '\e800'; } /* '' */
.icon-spinner:before { content: '\e801'; } /* '' */
.icon-info-circled-alt:before { content: '\e802'; } /* '' */
.icon-warning-empty:before { content: '\e803'; } /* '' */