# User-specific settings for mysql
#
# This setting is needed so large files (>5M in size) can be inserted into the
# database without error. Otherwise, we would get the error 'The size of BLOB/TEXT 
# data inserted in one transaction is greater than 10% of redo log size. 
# Increase the redo log size using innodb_log_file_size'
[mysqld]
innodb_log_file_size = 200M